<div class="columns is-multiline is-centered">

  <div class="column  is-two-thirds">
  <div class="box has-background-grey-lighter has-text-centered">
  <div class="box has-background-warning">


    <%= form_with(model: post, local: true) do |form| %>
      <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <div class="label">
          <%= form.label :title, class: "is-size-4" %>
        </div>
        <div class="control">
          <%= form.text_field :title, class: "input is-size-4" %>
        </div>
      </div>

      <div class="field">
        <div class="label">
          <%= form.label :content, class: "is-size-4" %>
          </div>
          <div class="control">
          <%= form.text_area :content, class: "textarea is-size-4" %>
        </div>
      </div>
      
      <div class="actions">
        <%= form.submit "Submit", class: "button is-primary" %>
      </div>
    <% end %>

    </div>
    </div>
  </div>
  
</div>
