<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="columns is-multiline">
  <% @posts.each do |post| %>
  <div class="column is-one-quarter">
    <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <% if user_signed_in? %>
    <strong><%= post.user_id %></strong>
    <strong><%= post.user.name %></strong>
    <% end %>
    <%= link_to 'Show', post %>, 
    <%= link_to 'Edit', edit_post_path(post) %>, 
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
